<h1>Display your Pirate here</h1>
<h2>Pirate Name: <%= @pirate_obj.name %></h2>
<h2>Pirate Height: <%= @pirate_obj.height %></h2>
<h2>Pirate Weight: <%= @pirate_obj.weight %></h2>

<h2>Display your first ship here</h2>
<h2>Ship 1 Name: <%= @ships[0].name %></h2>
<h2>Ship 1 Type: <%= @ships[0].type %></h2>
<h2>Ship 1 booty: <%= @ships[0].booty %></h2>

<h2>Display your second ship here</h2>
<h2>Ship 1 Name: <%= @ships[1].name %></h2>
<h2>Ship 1 Type: <%= @ships[1].type %></h2>
<h2>Ship 1 booty: <%= @ships[1].booty %></h2>
